<div class="row">

    <div class="col">

        <input type="text" #inputBuscar (keyup)="buscar(inputBuscar.value)" class="form-control" placeholder="Buscar Artista...">

    </div>

</div>

<!-- <div class="card-columns mt-2">
    <div class="card" *ngFor="let artist of artistas">
        <img class="card-img-top" [src]="artist.images | noimage" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">

                {{ artist.name }}

            </h5>
        </div>
    </div>
</div> -->
<app-loading *ngIf="loading" class="m-5"></app-loading>
<app-cards  *ngIf="!loading" [items]="artistas"></app-cards>